*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 100px;
    background-color: #ffeae0;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    /* color: #f50b0b00; */
}

.nav .logo b{
    color: orangered;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

.nav ul .active::after{
    content: '';
    width: 500;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position:relative;
    margine-left: 10px;

}
.nav ul a{
    color: black;
    text-decoration: none;
    /* font-size: 17px; */
    transition: transform 2s;
}
.nav ul a:hover{
    text-decoration: underline;
}
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

/* .Signin{
    background: transparent;
    border: none;
} */

.login{
    /* border: 2px solid black;
    padding: 15px; */
    color: black;
    margin: 20px;
    font-size: 18px;
    text-decoration: none;
    transition: transform 2s;
}
.login:hover{
    text-decoration: underline;
}


.Signup{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
}
.content{
    /* display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%; */
    margin-top: 150px;
}
.content .content-left .info{
    max-width: 100%;
    display:  flex;
    flex-direction: column;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left  .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.content .content-left button{
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.content .content-right{
    display: block;
    width: 100%;
} 

.content .content-right img{
    border: 2px solid black;
    /* display: flex;
    border-radius: 200%; */
    margin-top: -300px;
    margin-left: 900px;
    width: 320px;
    height: 320px;
    position: relative;
    animation: rotate 10s linear infinite;
    user-select: none;
    display: flex;
    border-radius: 50%;

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.category{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    /* justify-content: center; */
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 41px;
    margin-top: 170px;
    border: none;
    background: transparent;
   
}

.category .list-item{
    width: 90%;
    position: relative;
  
}

.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
    margin-top: 20px;
    
}
.event{
    margin-left: 90px;
    
}

.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    outline: 2px solid #ff511c;
}
.category .card-list .card img{
    width: 100px;
    height: auto;
    bottom: 110px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad96;
    border-radius: 50%;
}
.category .card-list .card .food-title{
    padding: 400pxn 0 ;
}

 .category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}

.category .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    /* margin-bottom: 200px; */
    font-family: sans-serif;
    
} 

